<div class="grid grid-cols-2 md:grid-cols-4 gap-4 border-[#8C7AAE] border-t-1 border-b-1 border-opacity-3 md:rounded pt-5 pb-5">
    <div class="w-full flex justify-center items-center">
        <button class="text-[13px] text-center w-[117px] h-[24px] text-primary font-bold active:bg-primary active:text-white active:rounded-[10px]">{{  section.settings.color_picker_button_one | upcase }}</button>
    </div>
    <div class="w-full flex justify-center items-center">
        <button class="text-[13px] text-center w-[117px] h-[24px] text-primary font-bold active:bg-primary active:text-white active:rounded-[10px]">{{  section.settings.color_picker_button_two | upcase }}</button>
    </div>
    <div class="w-full flex justify-center items-center">
        <button class="text-[13px] text-center w-[117px] h-[24px] text-primary font-bold active:bg-primary active:text-white active:rounded-[10px]">{{  section.settings.color_picker_button_three | upcase }}</button>
    </div>
    <div class="w-full flex justify-center items-center">
        <button class="text-[13px] text-center w-[117px] h-[24px] text-primary font-bold active:bg-primary active:text-white active:rounded-[10px]">{{  section.settings.color_picker_button_four | upcase }}</button>
    </div>
</div>