<div class="h-[319px] w-full flex justify-center items-center mr-[60px] md:mr-0 md:ml-10 herolg:w-[524px] herolg:h-[524px] herolg:mr-[60px] herolg:min-w-[524px] herolg:min-h-[524px] herolg:w-40 herolg:h-full">
      <img
        class="mt-5 md:m-0 w-[319px] rounded-xl herolg:w-full"
        src="../assets/hero-woman.png"
        alt="hero woman" 
        object-fill/>
    </div>